html {
  font-size: 65.5%;
}
body {
  box-sizing: border-box;
  display: block;
  min-width: auto;
  margin: 0;
}
main {
  height: 90vh;
  // background-color: beige;
  // clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
}
.container {
  max-width: 1800px;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.header {
  align-items: center;
  display: flex;
  height: 10vh;
  margin: 0px 13rem;
}
