.header {
  font-family: "Urbanist", sans-serif;

  font-size: 2.6rem;
  font-weight: 600;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: none;
  }
  &__logo {
    img {
      height: 140%;
      width: auto;
    }
  }
  &__left {
    height: 100%;
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-basis: 20%;
    a {
      margin: 0 2rem;
      color: $black;
      transition: all 0.2s ease-in;
      &:hover {
        transform: translateY(-5px);
        color: rgba($grey, 0.4);
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-basis: 40%;
    height: 100%;
    color: $black;

    transition: all 0.2s ease-in;
    &:hover {
      transform: translateY(-5px);
      color: rgba($grey, 0.4);
    }
  }
}
